{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="test page">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
<script src="https://flowbite.com/docs/flowbite.min.js?v=2.2.1a"></script>
</head>
<body class="bg-slate-500 font-serif leading-normal tracking-normal h-screen">
{% include "test_app/header.html" %}
<div class="container mx-auto font-sans">
    {% block content %}{% endblock %}
</div>
{% include "test_app/footer.html" %}
</body>
</html>